.cart {
    width: 100vw;
}

.cart-card {
    box-shadow: 3px 3px 3px lightgray;
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 1rem auto;
}

.cart-info {
    display: flex;
    width: 60%;
    justify-content: space-between;
}

.cart-card img {
    width: 70px;
    height: 70px;
}

.title-price {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add {
    height: fit-content;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: rgb(238, 173, 88);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-weight: bold;
    margin-top: 5%;
}

.remove {
    height: fit-content;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: rgb(248, 220, 184);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-weight: bold;
    margin-top: 5%;
}

/* when the cart is empty */
.empty-cart {
    border-radius: 30px;
    width: 90vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(163, 159, 159);
}

.empty-cart h3 {
    font-size: 2rem;
    color: rgb(233, 184, 93);
    margin-bottom: 20px;
}

.empty-cart-btn {
    width: 130px;
    height: 50px;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: rgb(233, 184, 93);
    font-weight: 700;
}

.total-price {
    text-align: center;
    width: 90%;
    height: 45px;
    margin: 2rem auto;
    padding: 0.5rem auto;
    background-color: rgb(233, 184, 93);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (min-width: 800px) {
    .cart-card {
        width: 70%;
        margin: 2rem auto;
    }
    .cart-card img {
        width: 100px;
        height: 100px;
    }

    .remove {
        width: 200px;
        text-align: center;
    }

    /* when the cart is empty */
    .empty-cart {
        width: 60vw;
        height: 70vh;
    }

    .total-price {
        width: 70%;
    }
}

@media (min-width: 1000px) {
    .cart-card {
        width: 50%;
        margin: 3rem auto;
    }
    .cart-card img {
        width: 100px;
        height: 100px;
    }
    .remove {
        margin-top: 4%;
        width: 200px;
        text-align: center;
    }

    /* when the cart is empty */
    .empty-cart {
        border-radius: 40px;
        width: 40vw;
    }

    .total-price {
        width: 50%;
    }
}
