.layout {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.navbar {
    position: sticky;
    top: 0;
    margin-bottom: 1rem;
}

main {
    margin: 0.5rem auto;
}

.layout-footer {
    margin-top: auto;
}
